*{
 
    
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 0.785rem;
    font-family: 'Lato', sans-serif;
    --grey: #f3f4f6;

}
body{
    background-color: #eaedf2;
}
 .container{
    background-color: #f3f4f6;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 10px;  
    
 }

 .list{
    display: flex;
    gap: 3em;
    margin-left: 3em;
   
 }

 select{
    margin: 1.5em 0em 1em 0em;
    padding: 1em;
    border-radius: 10px;
    
    
 }

 .table{
    padding: 1em;

 }
 td{
    padding: 1em;
 }
 
 .td2{
    padding-bottom: 2em;
 }

 button{
    
    background-color: white;
    padding: 1.5em;
    border-radius: 10px;
    
   
 }
 .buttons{
    display: flex;
    justify-content: space-around;
    background-color: #f3f4f6;
    border-radius: 10px;
    margin: -1.5em 2em 1em 2em;
    padding: 2em;


 }
