:root{
    font-size: 1.175em;

}
.panel{
    padding: 1em;
    border-radius: .5em;
    border: 1px solid #999;
    max-width: 70%;
    margin: 20% auto;

}

h2{
    margin-top: 0;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
}


@media (min-width:800px){
.panel{
    background-color: blue;
    color: white;
}
}
@media (min-width:1200px){
    .panel{
        background-color: #212121;
    }
    
}