* {
  margin: 0;
  border: 0;
  padding: 0;
}

:root {
  font-size: 0.785em;
}
body {
  background-color: grey;
}
div {
  width: 50%;
  margin: 3em auto;
  padding: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
    
  background-color: white;
  border-radius: 0.2rem;

}
h1{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0.7em;
}

input[type="text"], input[type="password"]{
    border: 1px solid #e1e2e5;
    border-radius: .5rem;
    padding: 1em 0;
    margin-bottom: 1em;
    width: 100%;
   
} 

input[type="checkbox"]{
    margin-right: 7px;
}

button{
    width: 100%;
    background-color: lightpink;
    border-radius: 0.5rem;
    color: white;
    padding: 1em;
}

.ref{
    margin-top: -5em;}

div div{
    margin-top: 1.5em;
    border: 0;
    width: 100%;
    padding: 0;

}

.para{
    color: darkblue;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.2rem;
    
}